<% include ../layout/header.ejs %> 



<div class="app" onload="shoppingCart()">
        
        <!-- Header -->
	<header class="header-v4">

        <div class="container-menu-desktop">

            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                         <%= notifies[0].title %> 
                    </div>
                </div>
            </div>
            <div class="wrap-menu-desktop how-shadow1">
                <nav class="limiter-menu-desktop container">

                    <a href="/" class="logo">
                        <img src="/images/icons/logowd.png" alt="IMG-LOGO">
                    </a>

                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/shop">Shop</a>
                            </li>
                            <li class="label1" data-label1="hot">
                                <a href="/new-in">New in</a>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li class="active-menu">
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="0">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <a href="#" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>

        <div class="wrap-header-mobile">

            <div class="logo-mobile">
                <a href="/"><img src="/images/icons/logowd.png" alt="IMG-LOGO"></a>
            </div>

            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="0">
                    <i class="zmdi zmdi-shopping-cart"></i>
                </div>
                <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>

        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        <%= notifies[0].title %>
                    </div>
                </li>
            </ul>
            <ul class="main-menu-m">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                </li>
                <li>
                    <a href="/new-in" class="label1 rs1" data-label1="hot">New in</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li class="active-menu">
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="/images/icons/icon-close2.png" alt="CLOSE">
                </button>
                <form class="wrap-search-header flex-w p-l-15">
                    <button class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                    <input class="plh3" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </header>

    
        <!-- Cart -->
        <% include ../layout/cart.ejs %> 


        <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
            <h2 class="ltext-105 cl0 txt-center">
                Contact
            </h2>
        </section>
        <section class="bg0 p-t-80 p-b-60">
            <div class="container">
                <div class="flex-w flex-tr">
                    <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-20 p-lr-15-lg w-full-md">
                        <div class="flex-w w-full p-b-28">
                            <span class="fs-18 cl5 txt-center size-211">
                                <span class="lnr lnr-map-marker"></span>
                            </span>
                            <div class="size-212 p-t-1">
                                <span class="mtext-110 cl2">
                                    Address
                                </span>
                                <p class="stext-115 cl6 size-213 p-t-15">
                                    20/29 Ky Đong Street, Ward 9, District 3, HCMC  
                                </p>
                            </div>
                        </div>
                        <div class="flex-w w-full p-b-28">
                            <span class="fs-18 cl5 txt-center size-211">
                                <span class="lnr lnr-phone-handset"></span>
                            </span>
                            <div class="size-212 p-t-1">
                                <span class="mtext-110 cl2">
                                    Lets Talk
                                </span>
                                <p class="stext-115  size-213 p-t-15">
                                    +(84) 36 275 1417
                                </p>
                            </div>
                        </div>
                        <div class="flex-w w-full p-b-28">
                            <span class="fs-18 cl5 txt-center size-211">
                                <span class="lnr lnr-clock"></span>
                            </span>
                            <div class="size-212 p-t-1">
                                <span class="mtext-110 cl2">
                                    Opening Hours
                                </span>
                                <p class="stext-115  size-213 p-t-15">
                                    Mon - Sun, 9:30 AM - 9:30 PM 
                                </p>
                            </div>
                        </div>
                        <div>
                            <a href="https://goo.gl/maps/jKgpbhfasDG2" class="m-lr-auto flex-c-m stext-101 cl0 size-103 bg3 bor2 hov-btn3 p-lr-15 trans-04 fs-25" style="width:30%;background:#f25c54">
                                <span class="lnr lnr-map-marker"> DIRECTIONS</span>
                            </a>
                        </div>
                    </div>
                    <div class="size-210 flex-w flex-col-m p-lr-15-lg w-full-md bor10">
                            <iframe style="width:100%; height:400px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3615930653255!2d106.67894331406832!3d10.783592992316656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2946da88f9%3A0xd624decc99abc486!2zMjAsIDE2LzI5IEvhu7MgxJDhu5NuZywgcGjGsOG7nW5nIDksIFF14bqtbiAzLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1553251570191"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section> 





<% include ../layout/footer.ejs %> 