<!--footer-->
    <footer class="bg3 p-t-50 p-b-20 p-l-40 p-r-30">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 p-b-40">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>
                    <p class="stext-107 cl7 size-218">
                        Any questions? Let us know in store at 1th floor, 686 Nguyen Dinh Chieu St, District 3, HCM or call us on (+84) 362 751 417
                    </p>
                    <div class="p-t-20">
                        <a href="https://www.facebook.com/whitedreamvn/" target= "_blank"class="fs-23 cl7 hov-cl1 trans-04 m-r-23" >
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/whitedreamvn/" target="_blank" class="fs-23 cl7 hov-cl1 trans-04 m-r-23" >
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="fs-23 cl7 hov-cl1 trans-04 m-r-23" >
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 p-b-40">
                    <h4 class="stext-301 cl0 p-b-30">
                        NAVIGATE
                    </h4>
                    <ul>
                        <li class="p-b-10">
                            <a href="product.html" class="stext-107 cl7 hov-cl1 trans-04">
                                Shop
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="new-in.html" class="stext-107 cl7 hov-cl1 trans-04">
                                New
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="blog.html" class="stext-107 cl7 hov-cl1 trans-04">
                                Blog
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="about.htnl" class="stext-107 cl7 hov-cl1 trans-04">
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-4 p-b-40">
                    <h4 class="stext-301 cl0 p-b-30">
                        Help
                    </h4>
                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Track Order
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Returns
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Shipping
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                <p class="stext-107 cl6 txt-center">
                    Copyright &copy;<script type="2a15d5e4d959cbecaa7b7afb-text/javascript">
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://sanda.asia/" target="_blank">Sanda.asia</a>
                </p>
            </div>
        </div>
    </footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/slick/slick.min.js"></script>
	<script src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	<script src="/js/cart.js"></script>

</body>
</html>